<div class="card" data-starId="{{starId}}" data-menuId="{{menuId}}">
	<div class="sbox">
		<div style="text-align:center;">
			<a class='viewer' href="{{mast_url}}" title="{{starName}}" style="padding-top:10px;color:#007F91; font-size:30px;">
        <img class="thumb" src="{{mast_thumb_url}}">
            </a>
		</div>
	</div>
</div>
